
/* LIGHT */
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Light.eot');
    src: url('../fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Light.woff2') format('woff2'),
        url('../fonts/FiraSans-Light.woff') format('woff'),
        url('../fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* LIGHT italic */
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-LightItalic.eot');
    src: url('../fonts/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-LightItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-LightItalic.woff') format('woff'),
        url('../fonts/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* NORMAL */ 
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans-Regular.woff') format('woff'),
        url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* NORMAL italic */ 
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-RegularItalic.eot');
    src: url('../fonts/FiraSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-RegularItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-RegularItalic.woff') format('woff'),
        url('../fonts/FiraSans-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* SEMIBOLD */ 
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.eot');
    src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff'),
        url('../fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* SEMIBOLD italic */ 
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-MediumItalic.eot');
    src: url('../fonts/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-MediumItalic.woff') format('woff'),
        url('../fonts/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* BOLD */ 
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Bold.eot');
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/FiraSans-Bold.woff') format('woff'),
        url('../fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* BOLD italic */ 
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-BoldItalic.eot');
    src: url('../fonts/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-BoldItalic.woff') format('woff'),
        url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* BLACK */
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraBold.eot');
    src: url('../fonts/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/FiraSans-ExtraBold.woff') format('woff'),
        url('../fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* BLACK italic */
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraBoldItalic.eot');
    src: url('../fonts/FiraSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/FiraSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Point Display */
@font-face {
    font-family: 'Baloo';
    src: url('../fonts/baloo.eot');
    src: url('../fonts/baloo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/baloo.woff2') format('woff2'),
        url('../fonts/baloo.woff') format('woff'),
        url('../fonts/baloo.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
