<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{~/css/font-awesome.css}"/>
        <link rel="stylesheet" th:href="@{~/css/ocbcnisp.css?v=2}"/>
        <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/talk.js}" type="text/javascript"></script>
        <script th:src="@{/js/newwebview.js}" type="text/javascript"></script>
        <title></title>
    </head>
    <body>


        <div class="ocbc_webview">

            <div class="ocbc_webview_content">
                <input id="lifegoal" type="hidden" value="etc"/>
                <input id="firsttahun" type="hidden" th:value="${tahun}"/>
                <input id="firstbulan" type="hidden" th:value="${bulan}"/>
                <input id="rc" type="hidden" th:value="${rc}"/>
                <input id="rcdesc" type="hidden" th:value="${rcdesc}"/>
                <input id="goalsdesc" type="hidden" th:value="${goals}"/>
                <input id="idchannel" type="hidden" th:value="${idchannel}"/>
                <input id="refID" type="hidden" th:value="${refID}"/>
                <input id="risk_profile_id" type="hidden" th:value="${risk_profile_id}"/>
                <input id="firstamount" type="hidden" th:value="${target_dana}"/>
                <input id="firsttenor" type="hidden" th:value="${jangka_waktu}"/>
                <input id="secondamount" type="hidden" th:value="${dana_sekarang}"/>
                <input id="name" type="hidden" th:value="${name}"/>
                <div class="topbar">
                    <!--<a class="link" href="#"><i class="far fa-chevron-left icon"></i> Tujuan investasi</a>-->
                </div>

                <div class="titleBar">
                    <div class="titles"><span id="goals" th:text="${goals}"/></div>
                    <div class="desc">Kamu cukup mengganti nominal dan waktu investasi untuk menghitung ulang simulasi</div>
                </div>


                <div class="lifegoalCalculator">



                    <div class="recalc form_row">
                        <div class="form-group">
                            <label for="email" class="label">Target dana (IDR)</label>
                            <input id="target_dana" type="text" class="inputnum2 input" th:value="${target_dana}"  style="width:130px;"inputmode="numeric" pattern="[0-9]*" required />

                        </div>


                        <div class="form-group">
                            <label for="email" class="label">Dana terkumpul (IDR)</label>
                            <input id="dana_sekarang" type="text" class="inputnum3 input" th:value="${dana_sekarang}"  style="width:130px;" inputmode="numeric" pattern="[0-9]*" required/>

                        </div>

                        <div class="form-group">
                            <label for="email" class="label">Jangka waktu</label>
                            <input id="tahun" type="text" class="input inputnumtahun" th:value="${tahun}" style="width:40px;" inputmode="numeric" maxlength="2" pattern="[0-9]*" required/>
                            <div class="tips">tahun</div>
                            <input id="bulan" type="text" class="input inputnumbulan" th:value="${bulan}" style="width:40px;" inputmode="numeric" maxlength="2" pattern="[0-9]*" required/>
                            <div class="tips">bulan</div>
                        </div>

                        <div class="form-group for_btn">
                            <button id="hitungUlang" class="btn green">Hitung ulang</button>
                        </div>
                        <div class="errorMsg" >Pastikan data yang kamu isi sudah benar</div>
                        <div id="errorTenor" class="errorMsgTahun" >Maksimal Tenor 50 Tahun</div>
                        <div id="errorTenor" class="errorMsgBulan" >Maksimal Tenor 12 Bulan</div>
                        <div id="errorTenor" class="errorMsgTahunBulan" >Kamu belum menginput lama investasi</div>

                    </div>

                    <div class="info">Karena risk profile kamu <b>[[${risk_profile_desc}]]</b>, kamu bisa berinvestasi di instrumen keuangan yang rata - rata returnnya bisa mencapai <span id="investasiRate" th:text="${investasi.Rate}"/> setahun!</div>

                    <div class="calcResult">

                        <div class="circle">ATAU</div>

                        <div class="resultGraph ">
                            <div class="infoCol left">
                                <div class="row title">Cuma nabung</div>
                                <div class="row img"><img th:src="@{~/images/sim3.png}" /></div>
                                <div class="row desc">Menyisihkan hingga</div>
                                <div class="row value">IDR <span id="tabunganResult" th:text="${tabunganResult}"/></div>
                                <div>per bulan</div>
                                <div class="row note">(return <span id="tabunganRate" th:text="${tabungan.Rate}"/> per tahun)</div>
                            </div>

                            <div class="infoCol right">
                                <div class="row title">Dengan investasi</div>
                                <div class="row img"><img th:src="@{~/images/sim4.png}" /></div>
                                <div class="row desc">Cukup menyisihkan</div>
                                <div class="row value">IDR <span id="investasiResult" th:text="${investasiResult}"/></div>
                                <div>per bulan</div>
                                <div class="row note">(return <span id="investasiRate" th:text="${investasi.Rate}"/> per tahun)</div>

                                <div class="row button">
                                    <button id="btnSubmit" class="btn ricon red">Goal sudah sesuai <i class="far fa-arrow-right icon"></i></i></button>
                                    <div id="alertHitung" class="errorMsgHitung" >Klik button ‘Hitung Ulang’ dahulu</div>

                                </div>
                            </div>


                        </div>


                    </div>

                </div>
            </div>
        </div>




    </body>
</html>