<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{~/css/font-awesome.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{~/css/ocbcnisp.css}"/>
    </head>
    <body>

        <body>  

            <div class="ocbc_webview">

                <div class="ocbc_webview_content">

                    <div class="topBar">
                        <a class="link" href="#"><i class="far fa-chevron-left icon"></i> Tujuan investasi</a>
                    </div>

                    <div class="titleBar">
                        <div class="titles">Menumbuhkan Uang</div>
                        <div class="desc">Masukkan nominal dan jangka waktu yang berbeda untuk menghitung ulang simulasi</div>
                    </div>


                    <div class="lifegoalCalculator">



                        <div class="recalc form_row">
                            <div class="form-group">
                                <label for="email" class="label">Dana diinvestasikan (IDR)</label>
                                <input type="text" class="input" value="8.500.000"  style="width:130px;">
                                    <div class="tips">/bulan</div>

                            </div>

                            <div class="form-group">
                                <label for="email" class="label">Lama investasi</label>
                                <input type="text" class="input" value="3" style="width:40px;">
                                    <div class="tips">bulan</div>
                                    <input type="text" class="input" value="3" style="width:40px;">
                                        <div class="tips">tahun</div>
                                        </div>

                                        <div class="form-group for_btn">
                                            <button class="btn green">Hitung ulang</button>
                                        </div>
                                        </div>

                                        <div class="info">Karena risk profile kamu <b>Conservative</b>, kau bisa berinvestasi di instrumen keuangan yang rata - rata returnnya bisa mencapai 3.25% setahun!</div>

                                        <div class="calcResult">



                                            <div class="circle">ATAU</div>

                                            <div class="resultGraph ">
                                                <div class="infoCol left">
                                                    <div class="row title">Cuma nabung</div>
                                                    <div class="row img"><img th:src="@{~/images/sim2.png}" /></div>
                                                    <div class="row desc">Pertumbuhan Hingga</div>
                                                    <div class="row value">Rp 210,040,000</div>
                                                    <div class="row note">(laba 1% per tahun)</div>
                                                </div>

                                                <div class="infoCol right">
                                                    <div class="row title">Dengan investasi</div>
                                                    <div class="row img"><img th:src="@{~/images/sim1.png}" /></div>
                                                    <div class="row desc">Cukup menyisihkan</div>
                                                    <div class="row value">Rp 860,040,000</div>
                                                    <div class="row note">(laba 3.25% per tahun)</div>

                                                    <div class="row button">
                                                        <button class="btn ricon red">Goal sudah sesuai <i class="far fa-arrow-right icon"></i></i></button>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>




                                        </div>
                                        </div>
                                        </div>




                                        </body>
                                        </html>