<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" th:href="@{~/css/font-awesome.css}"/>
        <link rel="stylesheet" th:href="@{~/css/ocbcnisp.css?v=2}"/>
        <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/talk.js}" type="text/javascript"></script>
        <script th:src="@{/js/newwebview.js}" type="text/javascript"></script>
    </head>
    <body>

    <body>

        <div class="ocbc_webview">

            <div class="ocbc_webview_content">
                <input id="lifegoal" type="hidden" value="education"/>
                <input id="idchannel" type="hidden" th:value="${idchannel}"/>
                <input id="name" type="hidden" th:value="${name}"/>
                <input id="risk_profile_id" type="hidden" th:value="${risk_profile_id}"/>
                <input id="refID" type="hidden" th:value="${refID}"/>
                <input id="firstamount" type="hidden" th:value="${value}"/>
                <input id="firstage" type="hidden" th:value="${age}"/>
                <input id="firstnamecountry" type="hidden" th:value="${country}"/>
                <input id="firstvaluecountry" type="hidden" th:value="${valuecountry}"/>
                <input id="targetamount" type="hidden" th:value="${investasiFinalValue}"/>
                <input id="tenor" type="hidden" th:value="${tenor}"/>

                <div class="topbar">
                    <a class="link" href="#"><i class="far fa-chevron-left icon"></i> Tujuan investasi</a>
                </div>

                <div class="titleBar">
                    <div class="titles">Pendidikan anak ke <span th:text="${country}"/></div>
                    <div class="desc">Masukkan nominal dan jangka waktu yang berbeda untuk menghitung ulang simulasi</div>
                </div>


                <div class="lifegoalCalculator">
                    <div class="recalc form_row">
                        <div class="form-group">
                            <label for="email" class="label">Negara tujuan</label>
                            <select id="countrySelect" class="input countrySelect" style="width:130px;">
                                <option th:each="negara: ${listCountry}" th:value="${negara.text}" th:label="${negara.text}"
                                        th:selected="${negara.text==country}"><span th:text="${negara.text}"/></option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="email" class="label">Dana terkumpul (IDR)</label>
                            <input id="dana" type="text" class="inputnum4 input" th:value="${value}" style="width:130px;" inputmode="numeric" pattern="[0-9]*" required/>
                        </div>

                        <div class="form-group">
                            <label for="email" class="label">Usia Anak</label>
                            <input id="age" type="text" class="inputnumage input" th:value="${age}" style="width:40px;" inputmode="numeric" maxlength="2" pattern="[0-9]*" required/>
                            <div class="tips">tahun</div>
                        </div>  

                        <div class="form-group for_btn">
                            <button id="hitungUlang" class="btn green">Hitung ulang</button>
                        </div>
                        <div class="errorMsg" >Pastikan data yang kamu isi sudah benar</div>
                        <div id="errorTenor" class="errorMsgTenor" >Maksimal Usia Anak 18 Tahun</div>
                    </div>

                    <div class="info">
                        Kamu butuh dana <b th:text="${investasiFinalValue}"/> dalam <b th:text="${tenor}"/> tahun ke depan.
                        <br><br>
                        Karena risk profile kamu <b>[[${risk_profile_desc}]]</b>, kau bisa berinvestasi di instrumen keuangan yang rata - rata returnnya bisa mencapai <span id="investasiRate" th:text="${investasiRate}"/>% setahun!</div>

                    <div class="calcResult">
                        <div class="circle">ATAU</div>
                        <div class="resultGraph ">
                            <div class="infoCol left">
                                <div class="row title">Cuma nabung</div>
                                <div class="row img"><img th:src="@{~/images/sim3.png}" /></div>
                                <div class="row desc">Menyisihkan hingga</div>
                                <div class="row value">Rp <span id="tabunganResult" th:text="${tabunganResult}"/></div>
                                <div>per bulan</div>
                                <div class="row note">(laba <span id="tabunganRate" th:text="${tabungan.Rate}"/>% per tahun)</div>
                            </div>

                            <div class="infoCol right">
                                <div class="row title">Dengan investasi</div>
                                <div class="row img"><img th:src="@{~/images/sim4.png}" /></div>
                                <div class="row desc">Cukup menyisihkan</div>
                                <div class="row value">Rp <span id="investasiResult" th:text="${investasiResult}"/></div>
                                <div>per bulan</div>
                                <div class="row note">(laba <span id="investasiRate" th:text="${investasi.Rate}"/>% per tahun)</div>

                                <div class="row button">
                                    <button id="btnSubmit" class="btn ricon red">Goal sudah sesuai <i class="far fa-arrow-right icon"></i></button>
                                    <div id="alertHitung" class="errorMsgHitung" >Silahkan Lakukan Hitung Ulang Terlebih Dahulu</div>
                                </div>
                            </div>


                        </div>


                    </div>




                </div>
            </div>
        </div>




    </body>
</html>
