<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{~/css/font-awesome.css}"/>
        <!--<link rel="stylesheet" th:href="@{~/css/ocbcnisp.css?v=2}"/>-->
        <link rel="stylesheet" th:href="@{/css/red.css?v=7}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/ocbcnisp.css}" type="text/css"/>
        <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/jquery-2.1.3.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/talk.js}" type="text/javascript"></script>
        <script th:src="@{/js/newwebview.js}" type="text/javascript"></script>
        <title></title>
    </head>
    <body>
        <div class="ocbc_webview">
            <div class="ocbc_webview_content">
                <input id="lifegoal" type="hidden" value="product"/>
                <input id="refID" type="hidden" value="refID"/>
                <input id="lifegoalid" type="hidden" th:value="${lifegoalid}"/>
                <input id="idchannel" type="hidden" th:value="${idchannel}"/>
                <input id="investmenttype" type="hidden" th:value="${investmenttype}"/>
                <input id="country" type="hidden" th:value="${country}"/>
                <input id="nama" type="hidden" th:value="${nama}"/>
                <input id="riskprofileid" type="hidden" value="1"/>
                <input id="firstriskprofileid" type="hidden" th:value="${risk_profile_id}"/>
                <input id="namereksadana" type="hidden" value="1"/>
                <input id="averagerate" type="hidden" value="1"/>
                <input id="badrate" type="hidden" value="1"/>
                <input id="goodrate" type="hidden" value="1"/>
                <input id="productid" type="hidden" value="1"/>
                <input id="producttype" type="hidden" value="1"/>
                <input id="amount" type="hidden" th:value="${amount}"/>
                <input id="initial_amount" type="hidden" th:value="${initial_amount}"/>
                <input id="tenor" type="hidden" th:value="${tenor}"/>
                <input id="urlBack" type="hidden" th:value="${urlBack}"/>
                <div class="topbar">
                    <!--<a class="link" href="#"><i class="far fa-chevron-left icon"></i> Pilih produk</a>-->
                </div>

                <div class="titleBar">
                    <div class="titles">Pilihan Produk Reksadana</div>
                    <div class="desc">Klik pada masing-masing produk untuk detail</div>
                </div>

                <div class="product_selection">
                    <div class="productList_scrollArea">
                        <div class="rowInfo">

                        </div>
                        <!--
                                                <?php 
                                                for($o=1;$o<=4;$o++) { 
                        
                                                $cat_content = array(
                                                1 => array('REKSADANA PASAR UANG','Reksa Dana Pasar Uang (RDPU) menyebar investasinya pada instrumen pasar uang dalam negri dan obligasi. Investasi ini cocok untuk jangka pendek (<1 tahun), dengan risk profile Conservative.'),
                                                2 => array('REKSA DANA PENDAPATAN TETAP','Reksa Dana Pendapatan Tetap (RDPT) menyebar investasinya pada surat utang/obligasi (80%) dan sisanya ke produk pasar uang. Investasi ini cocok untuk jangka waktu 1 – 3 tahun, dengan risk profile Balance. '),
                                                3 => array('REKSA DANA CAMPURAN','Reksa Dana Pendapatan Campuran menyebar investasinya pada pasar saham, obligasi, dan pasar uang. Investasi ini cocok untuk jangka waktu 3 – 5 tahun, dengan risk profile Growth. '),
                                                4 => array('REKSA DANA SAHAM','Reksa Dana Saham menyebar minimal 80% investasinya pada pasar saham. Investasi ini cocok untuk jangka waktu > 5 tahun, dengan risk profile aggressive.  '),
                                                );
                                                ?>-->
                        <input id="risk_profile_id" type="hidden" th:value="${risk_profile_id}"/>
                        <section class="product_category">

                            <div class="product_selection_catTitle">
                                <div class="title">REKSADANA PASAR UANG</div>
                                <div class="desc">Reksa Dana Pasar Uang (RDPU) menyebar investasinya pada instrumen pasar uang dalam negeri dan obligasi. Investasi ini cocok untuk jangka pendek (<1 tahun), dengan risk profile Conservative.</div>

                                <div class="rateinfo">Rata-rata estimasi return/thn</div>

                            </div>

                            <ul class="productList_container">
                                <li class="productList" th:each="pasaruang: ${listPasarUang}">
                                    <input class="namareksa" type="hidden" th:value="${pasaruang.Product_Name}"/>
                                    <input class="averagerate" type="hidden" th:value="${pasaruang.Average_Rate}"/>
                                    <input class="badrate" type="hidden" th:value="${pasaruang.Bad_Rate}"/>
                                    <input class="goodrate" type="hidden" th:value="${pasaruang.Good_Rate}"/>
                                    <input class="productid" type="hidden" th:value="${pasaruang.Product_ID}"/>
                                    <input class="producttype" type="hidden" th:value="${pasaruang.Product_Type}"/>
                                    <input class="riskprofileid" type="hidden" th:value="${pasaruang.Mutual_Fund_Risk_Profile_ID}"/>

                                    <div class="productBar openTrigger">
                                        <!--<div class="prodType" th:classappend="${pasaruang.Mutual_Fund_Risk_Profile_ID}==1 ? 'type1'"><span th:text="${pasaruang.Mutual_Fund_Risk_Profile_Desc}"/></div>-->
                                        <div th:switch="${pasaruang.Mutual_Fund_Risk_Profile_ID}">
                                            <div th:case="1" class="prodType type1"><span th:text="${pasaruang.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="2" class="prodType type2"><span th:text="${pasaruang.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="3" class="prodType type3"><span th:text="${pasaruang.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="4" class="prodType type4"><span th:text="${pasaruang.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                        </div>
                                        <div class="riskDesc" th:classappend="${pasaruang.Mutual_Fund_Risk_Profile_ID}<=${risk_profile_id} ? 'green' : 'red'"><span th:text="${pasaruang.Mutual_Fund_Risk_Profile_ID}<=${risk_profile_id} ? 'Profil resiko sesuai' : 'Resiko lebih tinggi'"/></div>

                                        <div class="prodName"><span th:text="${pasaruang.Product_Name}"/></div>

                                        <div class="rate">
                                            <span th:text="${pasaruang.Average_Rate}"/><small>%</small>
                                        </div>
                                    </div>
                                    <div class="productDetail clearfix">
                                        <table class="descTable">
                                            <tr>
                                                <td>Tanggal peluncuran </td>
                                                <td><b><span th:text="${pasaruang.Launch_Date}"/></b></td>
                                            </tr>
                                            <tr>
                                                <td>Total Dana Kelolaan (AUM)</td>
                                                <td><b>IDR <span th:text="${pasaruang.Total_AUM}"/> milyar/tahun</b></td>
                                            </tr>
                                        </table>

                                        <table class="detailTable">
                                            <tr>
                                                <td colspan="5">
                                                    Kinerja - Return (%)
                                                </td>
                                                <td  class="right">
                                                    Harga Nilai Aktiva Bersih/Unit

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1 Bln
                                                    <br>
                                                        <b class="val"><span th:text="${pasaruang.Performance_of_1_month}"></span></b>
                                                </td>
                                                <td>
                                                    6 Bln
                                                    <br>
                                                        <b class="val"><span th:text="${pasaruang.Performance_of_6_month}"></span></b>
                                                </td>
                                                <td>
                                                    YTD
                                                    <br>
                                                        <b class="val"><span th:text="${pasaruang.YTD}"></span></b>
                                                </td>
                                                <td>
                                                    1 Thn
                                                    <br>
                                                        <b class="val"><span th:text="${pasaruang.Performance_of_12_month}"></span></b>
                                                </td>
                                                <td>
                                                    5 Thn
                                                    <br>
                                                        <b class="val"><span th:text="${pasaruang.Performance_of_60_month}"></span></b>
                                                </td>
                                                <td>
                                                    <b class="val">IDR <span th:text="${pasaruang.Mutual_Fund_Nav}"></span></b></td>
                                            </tr>
                                        </table>

                                        <div class="botOption clearfix">
                                            <a class="btn download" th:href="${pasaruang.Url_Fund_Fact_Sheet}"><i class="far fa-file icon"></i>&nbsp;&nbsp;Fund fact sheet</a>
                                            <a class="btn download" th:href="${pasaruang.Url_Prospectus}"><i class="far fa-file icon"></i>&nbsp;&nbsp;Prospektus</a>

                                            <!--<a class="btn select red" href="#" >Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon"></i></a>-->
                                            <!--<button class="btn select red" th:classappend="${risk_profile_id}<${pasaruang.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>>-->
                                            <div th:switch="${pasaruang.Mutual_Fund_Risk_Profile_ID}">
                                                <button th:case="1" class="btn select red concervative" th:classappend="${risk_profile_id}<${pasaruang.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="2" class="btn select red balance" th:classappend="${risk_profile_id}<${pasaruang.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="3" class="btn select red growth" th:classappend="${risk_profile_id}<${pasaruang.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="4" class="btn select red aggressive" th:classappend="${risk_profile_id}<${pasaruang.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <?php } ?>
                            </ul>

                        </section>
                        <?php } ?>

                        <section class="product_category">

                            <div class="product_selection_catTitle">
                                <div class="title">REKSA DANA PENDAPATAN TETAP</div>
                                <div class="desc">Reksa Dana Pendapatan Tetap(RDPT) menyebar investasinya pada surat utang/obligasi (80%) dan sisanya ke produk pasar uang. Investasi ini cocok untuk jangka waktu 1 – 3 tahun, dengan risk profile Balance.</div>

                                <div class="rateinfo">Rata-rata estimasi return/thn</div>
                            </div>

                            <ul class="productList_container">
                                <li class="productList" th:each="pendapatantetap: ${listPendapatanTetap}">
                                    <input class="namareksa" type="hidden" th:value="${pendapatantetap.Product_Name}"/>
                                    <input class="averagerate" type="hidden" th:value="${pendapatantetap.Average_Rate}"/>
                                    <input class="badrate" type="hidden" th:value="${pendapatantetap.Bad_Rate}"/>
                                    <input class="goodrate" type="hidden" th:value="${pendapatantetap.Good_Rate}"/>
                                    <input class="productid" type="hidden" th:value="${pendapatantetap.Product_ID}"/>
                                    <input class="producttype" type="hidden" th:value="${pendapatantetap.Product_Type}"/>
                                    <input class="riskprofileid" type="hidden" th:value="${pendapatantetap.Mutual_Fund_Risk_Profile_ID}"/>

                                    <div class="productBar openTrigger">

                                        <div th:switch="${pendapatantetap.Mutual_Fund_Risk_Profile_ID}">
                                            <div th:case="1" class="prodType type1"><span th:text="${pendapatantetap.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="2" class="prodType type2"><span th:text="${pendapatantetap.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="3" class="prodType type3"><span th:text="${pendapatantetap.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="4" class="prodType type4"><span th:text="${pendapatantetap.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                        </div>
                                        <div class="riskDesc" th:classappend="${pendapatantetap.Mutual_Fund_Risk_Profile_ID}<=${risk_profile_id} ? 'green' : 'red'"><span th:text="${pendapatantetap.Mutual_Fund_Risk_Profile_ID}<=${risk_profile_id} ? 'Profil resiko sesuai' : 'Resiko lebih tinggi'"/></div>


                                        <div class="prodName"><span th:text="${pendapatantetap.Product_Name}"/></div>

                                        <div class="rate">
                                            <span th:text="${pendapatantetap.Average_Rate}"/><small>%</small>
                                        </div>


                                    </div>

                                    <div class="productDetail clearfix">
                                        <table class="descTable">
                                            <tr>
                                                <td>Tanggal peluncuran </td>
                                                <td><b><span th:text="${pendapatantetap.Launch_Date}"/></b></td>
                                            </tr>
                                            <tr>
                                                <td>Total Dana Kelolaan (AUM)</td>
                                                <td><b>IDR <span th:text="${pendapatantetap.Total_AUM}"/> milyar/tahun</b></td>
                                            </tr>
                                        </table>

                                        <table class="detailTable">
                                            <tr>
                                                <td colspan="5">
                                                    Kinerja - Return (%)
                                                </td>
                                                <td  class="right">
                                                    Harga Nilai Aktiva Bersih/Unit

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1 Bln
                                                    <br>
                                                        <b class="val"><span th:text="${pendapatantetap.Performance_of_1_month}"></span></b>
                                                </td>
                                                <td>
                                                    6 Bln
                                                    <br>
                                                        <b class="val"><span th:text="${pendapatantetap.Performance_of_6_month}"></span></b>
                                                </td>
                                                <td>
                                                    YTD
                                                    <br>
                                                        <b class="val"><span th:text="${pendapatantetap.YTD}"></span></b>
                                                </td>
                                                <td>
                                                    1 Thn
                                                    <br>
                                                        <b class="val"><span th:text="${pendapatantetap.Performance_of_12_month}"></span></b>
                                                </td>
                                                <td>
                                                    5 Thn
                                                    <br>
                                                        <b class="val"><span th:text="${pendapatantetap.Performance_of_60_month}"></span></b>
                                                </td>
                                                <td>
                                                    <b class="val">IDR <span th:text="${pendapatantetap.Mutual_Fund_Nav}"></span></b></td>
                                            </tr>
                                        </table>

                                        <div class="botOption clearfix">
                                            <a class="btn download" th:href="${pendapatantetap.Url_Fund_Fact_Sheet}"><i class="far fa-file icon"></i>&nbsp;&nbsp;Fund fact sheet</a>
                                            <a class="btn download" th:href="${pendapatantetap.Url_Prospectus}"><i class="far fa-file icon"></i>&nbsp;&nbsp;Prospektus</a>

                                            <!--<a class="btn select red" href="#">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon"></i></a>-->
                                            <!--<a class="btn select red" th:classappend="${risk_profile_id}<${pendapatantetap.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon"></i></a>-->
                                            <div th:switch="${pendapatantetap.Mutual_Fund_Risk_Profile_ID}">
                                                <button th:case="1" class="btn select red concervative" th:classappend="${risk_profile_id}<${pendapatantetap.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="2" class="btn select red balance" th:classappend="${risk_profile_id}<${pendapatantetap.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="3" class="btn select red growth" th:classappend="${risk_profile_id}<${pendapatantetap.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="4" class="btn select red aggressive" th:classappend="${risk_profile_id}<${pendapatantetap.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--<?php } ?>-->
                            </ul>

                        </section>
                        <section class="product_category">

                            <div class="product_selection_catTitle">
                                <div class="title">REKSA DANA CAMPURAN</div>
                                <div class="desc">Reksa Dana Pendapatan Campuran menyebar investasinya pada pasar saham, obligasi, dan pasar uang. Investasi ini cocok untuk jangka waktu 3 – 5 tahun, dengan risk profile Growth.</div>

                                <div class="rateinfo">Rata-rata estimasi return/thn</div>

                            </div>

                            <ul class="productList_container">
                                <li class="productList" th:each="campuran: ${listCampuran}">
                                    <input class="namareksa" type="hidden" th:value="${campuran.Product_Name}"/>
                                    <input class="averagerate" type="hidden" th:value="${campuran.Average_Rate}"/>
                                    <input class="badrate" type="hidden" th:value="${campuran.Bad_Rate}"/>
                                    <input class="goodrate" type="hidden" th:value="${campuran.Good_Rate}"/>
                                    <input class="productid" type="hidden" th:value="${campuran.Product_ID}"/>
                                    <input class="producttype" type="hidden" th:value="${campuran.Product_Type}"/>
                                    <input class="riskprofileid" type="hidden" th:value="${campuran.Mutual_Fund_Risk_Profile_ID}"/>

                                    <div class="productBar openTrigger">

                                        <div th:switch="${campuran.Mutual_Fund_Risk_Profile_ID}">
                                            <div th:case="1" class="prodType type1"><span th:text="${campuran.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="2" class="prodType type2"><span th:text="${campuran.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="3" class="prodType type3"><span th:text="${campuran.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="4" class="prodType type4"><span th:text="${campuran.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                        </div>
                                        <div class="riskDesc" th:classappend="${campuran.Mutual_Fund_Risk_Profile_ID}<=${risk_profile_id} ? 'green' : 'red'"><span th:text="${campuran.Mutual_Fund_Risk_Profile_ID}<=${risk_profile_id} ? 'Profil resiko sesuai' : 'Resiko lebih tinggi'"/></div>


                                        <div class="prodName"><span th:text="${campuran.Product_Name}"/></div>

                                        <div class="rate">
                                            <span th:text="${campuran.Average_Rate}"/><small>%</small>
                                        </div>


                                    </div>

                                    <div class="productDetail clearfix">
                                        <table class="descTable">
                                            <tr>
                                                <td>Tanggal peluncuran </td>
                                                <td><b><span th:text="${campuran.Launch_Date}"/></b></td>
                                            </tr>
                                            <tr>
                                                <td>Total Dana Kelolaan (AUM)</td>
                                                <td><b>IDR <span th:text="${campuran.Total_AUM}"/> milyar/tahun</b></td>
                                            </tr>
                                        </table>

                                        <table class="detailTable">
                                            <tr>
                                                <td colspan="5">
                                                    Kinerja - Return (%)
                                                </td>
                                                <td  class="right">
                                                    Harga Nilai Aktiva Bersih/Unit

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1 Bln
                                                    <br>
                                                        <b class="val"><span th:text="${campuran.Performance_of_1_month}"></span></b>
                                                </td>
                                                <td>
                                                    6 Bln
                                                    <br>
                                                        <b class="val"><span th:text="${campuran.Performance_of_6_month}"></span></b>
                                                </td>
                                                <td>
                                                    YTD
                                                    <br>
                                                        <b class="val"><span th:text="${campuran.YTD}"></span></b>
                                                </td>
                                                <td>
                                                    1 Thn
                                                    <br>
                                                        <b class="val"><span th:text="${campuran.Performance_of_12_month}"></span></b>
                                                </td>
                                                <td>
                                                    5 Thn
                                                    <br>
                                                        <b class="val"><span th:text="${campuran.Performance_of_60_month}"></span></b>
                                                </td>
                                                <td>
                                                    <b class="val">IDR <span th:text="${campuran.Mutual_Fund_Nav}"></span></b></td>
                                            </tr>
                                        </table>

                                        <div class="botOption clearfix">
                                            <a class="btn download" th:href="${campuran.Url_Fund_Fact_Sheet}"><i class="far fa-file icon"></i>&nbsp;&nbsp;Fund fact sheet</a>
                                            <a class="btn download" th:href="${campuran.Url_Prospectus}"><i class="far fa-file icon"></i>&nbsp;&nbsp;Prospektus</a>

                                            <!--<a class="btn select red" href="#">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon"></i></a>-->
                                            <!--<a class="btn select red" th:classappend="${risk_profile_id}<${campuran.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon"></i></a>-->
                                            <div th:switch="${campuran.Mutual_Fund_Risk_Profile_ID}">
                                                <button th:case="1" class="btn select red concervative" th:classappend="${risk_profile_id}<${campuran.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="2" class="btn select red balance" th:classappend="${risk_profile_id}<${campuran.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="3" class="btn select red growth" th:classappend="${risk_profile_id}<${campuran.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="4" class="btn select red aggressive" th:classappend="${risk_profile_id}<${campuran.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <?php } ?>
                            </ul>

                        </section>
                        <section class="product_category">

                            <div class="product_selection_catTitle">
                                <div class="title">REKSA DANA SAHAM</div>
                                <div class="desc">Reksa Dana Saham menyebar minimal 80% investasinya pada pasar saham. Investasi ini cocok untuk jangka waktu > 5 tahun, dengan risk profile Aggressive.</div>

                                <div class="rateinfo">Rata-rata estimasi return/thn</div>

                            </div>

                            <ul class="productList_container">
                                <li class="productList" th:each="saham: ${listSaham}">
                                    <input class="namareksa" type="hidden" th:value="${saham.Product_Name}"/>
                                    <input class="averagerate" type="hidden" th:value="${saham.Average_Rate}"/>
                                    <input class="badrate" type="hidden" th:value="${saham.Bad_Rate}"/>
                                    <input class="goodrate" type="hidden" th:value="${saham.Good_Rate}"/>
                                    <input class="productid" type="hidden" th:value="${saham.Product_ID}"/>
                                    <input class="producttype" type="hidden" th:value="${saham.Product_Type}"/>
                                    <input class="riskprofileid" type="hidden" th:value="${saham.Mutual_Fund_Risk_Profile_ID}"/>

                                    <div class="productBar openTrigger">

                                        <div th:switch="${saham.Mutual_Fund_Risk_Profile_ID}">
                                            <div th:case="1" class="prodType type1"><span th:text="${saham.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="2" class="prodType type2"><span th:text="${saham.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="3" class="prodType type3"><span th:text="${saham.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                            <div th:case="4" class="prodType type4"><span th:text="${saham.Mutual_Fund_Risk_Profile_Desc}"/></div>
                                        </div>
                                        <div class="riskDesc" th:classappend="${saham.Mutual_Fund_Risk_Profile_ID}<=${risk_profile_id} ? 'green' : 'red'"><span th:text="${saham.Mutual_Fund_Risk_Profile_ID}<=${risk_profile_id} ? 'Profil resiko sesuai' : 'Resiko lebih tinggi'"/></div>


                                        <div class="prodName"><span th:text="${saham.Product_Name}"/></div>

                                        <div class="rate">
                                            <span th:text="${saham.Average_Rate}"/><small>%</small>
                                        </div>


                                    </div>

                                    <div class="productDetail clearfix">
                                        <table class="descTable">
                                            <tr>
                                                <td>Tanggal peluncuran </td>
                                                <td><b><span th:text="${saham.Launch_Date}"/></b></td>
                                            </tr>
                                            <tr>
                                                <td>Total Dana Kelolaan (AUM)</td>
                                                <td><b>IDR <span th:text="${saham.Total_AUM}"/> milyar/tahun</b></td>
                                            </tr>
                                        </table>

                                        <table class="detailTable">
                                            <tr>
                                                <td colspan="5">
                                                    Kinerja - Return (%)
                                                </td>
                                                <td  class="right">
                                                    Harga Nilai Aktiva Bersih/Unit

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    1 Bln
                                                    <br>
                                                        <b class="val"><span th:text="${saham.Performance_of_1_month}"></span></b>
                                                </td>
                                                <td>
                                                    6 Bln
                                                    <br>
                                                        <b class="val"><span th:text="${saham.Performance_of_6_month}"></span></b>
                                                </td>
                                                <td>
                                                    YTD
                                                    <br>
                                                        <b class="val"><span th:text="${saham.YTD}"></span></b>
                                                </td>
                                                <td>
                                                    1 Thn
                                                    <br>
                                                        <b class="val"><span th:text="${saham.Performance_of_12_month}"></span></b>
                                                </td>
                                                <td>
                                                    5 Thn
                                                    <br>
                                                        <b class="val"><span th:text="${saham.Performance_of_60_month}"></span></b>
                                                </td>
                                                <td>
                                                    <b class="val">IDR <span th:text="${saham.Mutual_Fund_Nav}"></span></b></td>
                                            </tr>
                                        </table>

                                        <div class="botOption clearfix">
                                            <a class="btn download" th:href="${saham.Url_Fund_Fact_Sheet}"><i class="far fa-file icon"></i>&nbsp;&nbsp;Fund fact sheet</a>
                                            <a class="btn download" th:href="${saham.Url_Prospectus}"><i class="far fa-file icon"></i>&nbsp;&nbsp;Prospektus</a>

                                            <!--<a class="btn select red" href="#">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon"></i></a>-->
                                            <!--<a class="btn select red" th:classappend="${risk_profile_id}<${saham.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon"></i></a>-->
                                            <div th:switch="${saham.Mutual_Fund_Risk_Profile_ID}">
                                                <button th:case="1" class="btn select red concervative" th:classappend="${risk_profile_id}<${saham.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="2" class="btn select red balance" th:classappend="${risk_profile_id}<${saham.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="3" class="btn select red growth" th:classappend="${risk_profile_id}<${saham.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                                <button th:case="4" class="btn select red aggressive" th:classappend="${risk_profile_id}<${saham.Mutual_Fund_Risk_Profile_ID} ? 'higherRisk_selection' : 'testfinal'">Pilih produk&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon" ></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <?php } ?>
                            </ul>

                        </section>
                    </div>
                    <!--                    <div id="highRiskConfirm" class="highRiskConfirm">
                                            <div class="dialogBox">
                                                <div>
                                                    Profil resiko yang dipilih <b><span id='pilihanUser'>(AGGRESIVE)</span></b> lebih tinggi dari profile resiko
                                                    Kamu : <b><span th:text="${risk_profile_desc}"></span></b>.
                    
                                                    Apakah kamu</span> yakin ingin melanjutkan dengan produk terpilih?
                                                    <br/><br/>
                                                    <button id="highRiskConfirm_close" class="onBtn grey">KEMBALI</button>
                                                    <button id="highRiskConfirm_next" class="onBtn">LANJUTKAN</button>
                                                </div>
                                            </div>
                                        </div>-->
                    <div id="risk_confirm" class="popup_confirm">
                        <div class="popup_overlay"></div>
                        <div class="popup_box">

                            <div>
                                Produk yang kamu pilih memiliki resiko yang lebih tinggi <b class="cred"><span id='pilihanUser'>AGGRESIVE</span></b> dari profil resiko kamu <b class="cred"><span th:text="${risk_profile_desc}"></span></b>. Apakah kamu ingin melanjutkan pilih produk tersebut?
                            </div>

                            <div class="popup_option">
                                <a id="highRiskConfirm_close" class="btn grey popup_close" href="javascript:void(0);">Pilih ulang</i></a>
                                <a id="highRiskConfirm_next" class="btn red" href="#">Lanjutkan&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right icon"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>