<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title></title>
        <link rel="stylesheet" th:href="@{~/css/red.css?v=7}"/>
        <link rel="stylesheet" th:href="@{~/css/ocbcnisp.css}"/>
        <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/talk.js}" type="text/javascript"></script>
        <script th:src="@{/js/webview.js}" type="text/javascript"></script>
    </head>

    <body>
		<h1>Report Survey</h1>
		<hr/>
		
		<div>
			Start Date : <input id="startDate" type="text"/>
		</div>
		<div>
			End Date : <input id="startDate" type="text"/>
		</div>
		<div>
			<input id="btnReport" type="button" value="Download Report" onclick="location.href='/report/download'"/>
		</div>
    </body>
</html>
