<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{~/css/font-awesome.css}"/>
        <link rel="stylesheet" th:href="@{~/css/ocbcnisp.css?v=2}"/>
        <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/jquery-2.1.3.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/talk.js}" type="text/javascript"></script>
        <script th:src="@{/js/newwebview.js}" type="text/javascript"></script>
        <title></title>
    </head>
    <body>



        <div class="ocbc_webview">

            <div class="ocbc_webview_content">
                <input id="idchannel" type="hidden" th:value="${idchannel}"/>
                <div class="topbar">
                    <!--<a class="link" href="#"><i class="far fa-chevron-left icon"></i> Let's get into action</a>-->
                </div>

                <div class="titleBar">
                    <div class="titles">Syarat dan Ketentuan</div>
                </div>

                <div class="tnc">

                    <div class="textContent">

                        <div class="scrollContainer">
                            <p>
                                Dengan memberikan Data Pribadi Anda, Anda menyadari bahwa Data Pribadi ini akan disimpan
                                dan dimiliki oleh PT Bank OCBC NISP Tbk (“Bank OCBC NISP”) dan Bank OCBC NISP akan
                                menggunakan dan/atau memanfaatkan setiap data, informasi dan keterangan yang terkait dengan
                                Anda yang diperoleh Bank OCBC NISP termasuk untuk penawaran atau pemasaran produk wealth
                                management dengan tetap memperhatikan peraturan dan ketentuan perundang-undangan yang
                                berlaku.
                            </p>
                            <p>
                                Angka untuk kalkulasi dan estimasi yang kami lakukan berdasarkan sumber terpercaya dan
                                diperbaharui setiap bulannya. Namun, kalkulasi dan estimasi ini tidak menjamin kinerja
                                sesungguhnya di masa yang akan datang. Dokumen penawaran atas produk investasi terkait
                                tetap harus dipelajari dahulu secara seksama. Setiap proyeksi, pendapat atau fakta
                                statistik lainnya yang ditampilkan dalam Informasi ini hanya merupakan suatu indikasi dan
                                tidak dijamin dalam bentuk apapun. &nbsp;
                            </p>
                            <p>
                                Anda harus menetapkan sendiri setiap keputusan sesuai dengan kebutuhan dan strategi
                                investasi dengan mempertimbangkan masalah hukum, pajak, dan akuntansi.
                            </p>
                        </div>

                        <div id="checklist1" class="agree">
                            <div id="checklist2" class="check"></div>
                            Saya menyetujui syarat dan ketentuan
                            <input type="hidden" value="1" /> 
                        </div>
                    </div>

                    <div class="btn_segment">
                        <button id="proceed_tnckembali" class="btn grey">Kembali</button>
                        <button id="proceed_tnc" class="btn red disabled" disabled="disabled">Setuju dan Lanjutkan&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-right"></i></i></button>
                    </div>
                </div>
            </div>
        </div>




    </body>
</html>
